* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
    overflow: hidden;
}

.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar header {
    font-size: 2.5vw;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
    font-family: 'Lato', sans-serif;
}

.sidebar a {
    display: block;
    height: 8vh;
    width: 100%;
    color: #353535;
    line-height: 8vh;
    padding-left: 5vw;
    border-left: 0.5vw solid transparent;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    transition: all 0.5s ease;
}

a.active,
a:hover {
    border-left: 0.5vw solid var(--accent-color);
    color: #fff;
    background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}

.sidebar a i {
    font-size: 3vw;
    margin-right: 2vw;
}

.sidebar a span {
    letter-spacing: 0.2vw;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    left: 1vw;
    cursor: pointer;
    color: #d6adff;
    border-radius: 1vw;
    margin: 2vw 5vw;
    font-size: 4vw;
    background-color: #e8d1ff;
    box-shadow: inset 0.4vw 0.4vw 0.4vw 0 rgba(255, 255, 255, 0.5),
                inset -1.4vw -1.4vw 2vw 0 rgba(0, 0, 0, 0.1),
                0.7vw 0.7vw 4vw 0 rgba(0, 0, 0, 0.1),
                0.4vw 0.4vw 1vw 0 rgba(0, 0, 0, 0.1);
    height: 7vw;
    width: 7vw;
    text-align: center;
    text-shadow: 0.4vw 0.4vw 0.6vw rgba(255, 255, 255, 0.5);
    line-height: 7vw;
    transition: all 0.5s ease;
    z-index: 1001;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    margin-left: 49vw;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel {
    margin-left: 49vw;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header,
    #btn,
    #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}

.sidebar > a.active,
.sidebar > a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
}

.sidebar a.active,
.sidebar > a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
}

.frame {
    width: 70vw;
    height: 15vh;
    margin-top: 5vh;
    margin-bottom: 25vh;
    text-align: center;
}

#bt {
    font-size: 3vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 11vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    color: #a759f5;
}

h3 {
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 2vh;
    color: #a759f5;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 2.5vw;
    color: #d6adff;
    margin: 0;
}

.form-check {
    width: 80vw;
    padding-left: 25vw;
    margin: 2vh auto;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 1.8vw; /* 기존보다 큰 폰트 크기 */
    color: #a759f5;
}

.form-check-input {
    width: 3vw; /* 너비를 더 크게 조정 */
    height: 3vw; /* 높이를 더 크게 조정 */
    font-size: 2vw; /* 버튼 안의 텍스트 크기 조정 */
    padding: 1vw; /* 패딩 추가 */
}


.btn {
    font-size: 2vw;
    margin: 1vh;
}

.bluetooth_button {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    gap: 2vw;
}

.bluetooth {
    justify-content: center;
    text-align: center;
}

header {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2vh;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 900;
}

main {
    width: 100%;
    padding: 4vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2vw;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.2);
    margin-top: 4vh;
    max-width: 1200px;
    overflow-y: auto;
    flex-grow: 1;
    z-index: 800;
}

section {
    margin-bottom: 4vh;
}

.subtitle {
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 4vh;
    color: #a759f5;
}
