* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
    overflow: hidden;
}

.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background-color: #fff;
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar header {
    font-size: 20px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
    font-family: 'Lato', sans-serif;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: #353535;
    line-height: 65px;
    padding-left: 30px;
    border-left: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    transition: all 0.5s ease;
}

a.active,
a:hover {
    border-left: 5px solid var(--accent-color);
    color: #fff;
    background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}

.sidebar a i {
    font-size: 22px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: #d6adff;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 25px;
    background-color: #e8d1ff;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
        3.5px 3.5px 20px 0px rgba(0, 0, 0, 0.1),
        2px 2px 5px 0px rgba(0, 0, 0, 0.1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    line-height: 45px;
    transition: all 0.5s ease;
    z-index: 1001;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked~label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header,
    #btn,
    #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
}

.sidebar>a.active,
.sidebar>a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
}

.sidebar a.active,
.sidebar>a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
}

.frame {
    width: 70vw;
    height: 15vh;
    margin-top: 2vh;
    margin-bottom: 15vh;
    text-align: center;
}

#bt {
    font-size: 3vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: black;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 11vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    color: #a759f5;
}

h3 {
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 2vh;
    color: #a759f5;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 2.5vw;
    color: #d6adff;
    margin: 0;
}

.form-check {
    width: 80vw;
    display: flex;
    align-items: center;
    padding-left: 30vw;
    margin: 2vh auto;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 4vw;
    color: #a759f5;
}

.form-check-input {
    margin-right: 1vw;
    font-size: 6vw;
    height: auto;
}

.form-check-label {
    display: flex;
    align-items: center;
    font-size: 4vw;
    padding: 1vw;
}

.btn {
    font-size: 2vw;
    margin: 1vh;
}

.bluetooth_button {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    gap: 2vw;
}

.bluetooth {
    justify-content: center;
    text-align: center;
}

header {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2vh;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 900;
}

main {
    width: 100%;
    padding: 4vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2vw;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.2);
    margin-top: 4vh;
    max-width: 1200px;
    overflow-y: auto;
    flex-grow: 1;
    z-index: 800;
}

section {
    margin-bottom: 4vh;
}

.subtitle {
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 4vh;
    color: #a759f5;
}
